
section.news .item {
	background-color: #ece9e4;
	color: #151B4E;
	padding-bottom: 150px;;;;
}

section.news .item .image {
	height: calc(100vh - 220px);
	background-size: cover;
	background-position: center center;
}

section.news .item .container {
	max-width: 550px;
}

section.news .item .container > h2 {
	font-weight: 300;
	text-align: center;
	margin-top: 100px;;;;;
	font-size: 36px;
	margin-bottom: 25px;;
}
section.news .item .container > h2::after {
	content: '';
	display: block;
	width: 42px;
	border-bottom: 3px solid #ffffff;
	margin-top: 25px;;
	margin-left: auto;
	margin-right: auto;;;;
}

section.news .item .container > main {
	font-weight: 300;;
}




/* mobile */
@media screen and (max-width: 991px) {
	
	section.news .item .image {
		height: calc(100vh - 130px);
	}

	section.news .item .container > h2 {
		margin-top: 190px;;;;;
	}


}