
section#home-slides {
}

#homeCarousel .item {
	background-position: center center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
	min-height: 358px;
	height: calc(100vh - 200px);
	padding-top: calc(50vh - 290px);
	overflow: hidden;;
}
#homeCarousel .item .box {
	background-color: rgba(0,0,0,0.35);
	border: 4px solid #ffffff;
	width: 800px;
	max-width: 70%;
	margin-right: auto;
	margin-left: auto;
	padding: 30px 10px 20px 10px;
	position: relative;
	margin-top: 10px;
}
#homeCarousel .item .box img {
	max-width: 90%;
}
#homeCarousel .item .box h2 {
	letter-spacing: 0.15em;
	font-weight: 600;
	line-height: 130%;;;;
}



.home-big-product {
	text-align: center;
	padding: 180px 30px;
	background-size: cover;
	background-position: center center;
	background-repeat: repeat-y;
}
.home-big-product img {
	max-width: 100%;
}

#home-salmon {
	background-image: url(../../images/home/salmon-background.png);
}

#home-bacalao {
	background-image: url(../../images/home/bacalao-background.png);
}

#home-atun {
	background-image: url(../../images/home/atun-background.png);
}


.home-big-product-details {
	background-position: center center;
	background-size: cover;
	height: 100vh;
	margin: -20vh 0;
}


#home-productos {
	background-color: rgba(236, 233, 228, 1);
	padding-top: 50px;
	padding-bottom: 75px;;;;
	
}
#home-productos h2 {
	color: rgb(219, 216, 210);
	font-size: 86px;
	text-align: center;
	letter-spacing: 0.2em;
	margin-bottom: 40px;;;;;;;

}
#home-productos .boxes {

}
#home-productos .boxes > div {
	padding-left: 7px;
	padding-right: 7px;;;

}
#home-productos .boxes > div a {
	display: flex;
	background-color: #f3f2ee;
	height: 140px;
	margin-bottom: 74px;
	flex-direction: column;align-items: center;
	justify-content: space-evenly;
	padding: 20px;
	font-size: 22px;
	font-weight: 200;;;

}
#home-productos .boxes > div a::after {
	content: '';
	border-bottom: 2px solid #fffffb;
	width: 50px;
	display: block;;
}



/* mobile */
@media screen and (max-width: 991px) {

	#homeCarousel .item .box h2 {
		font-size: 20px;
	}

}