
section#recetas-header {
	background-image: url(../../images/recetas/header.jpg);
	background-size: 160% auto;
	background-position: center center;
	color: #ffffff;
	overflow: hidden;
	padding: 15px;
	display: flex;
	height: calc(90vh - 130px);
	flex-direction: column;
	justify-content: center;
	background-repeat: no-repeat; 
}
@media screen and (orientation:portrait) {

	section#recetas-header {
		background-size: auto 160%;
	}
		
}
section#recetas-header .container {
	border: 3px solid #fff;
	max-width: 530px;
}
section#recetas-header h1 {
	font-size: 70px;
	font-weight: 300;
	margin-top: 80px;
	margin-bottom: 30px;
}
section#recetas-header h3 {;
	letter-spacing: 0.15em;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 60px;
}




section#recetas {
	display: flex;
	flex-wrap: wrap;
} 
section#recetas > * {
	width: 25%;
	flex-shrink: 0;
} 
section#recetas .image {
	background-size: cover;
	background-position: center center;
} 
section#recetas .receta {
	text-align: center;
} 
section#recetas .receta .wrap {
	margin: 80px auto;
	max-width: 305px;
	padding: 30px;
	text-align: left;
} 
section#recetas .receta .wrap > h2 {
	color: #DBD8D2;
	margin-top: 0;
	margin-bottom: 35px;
} 
section#recetas .receta .wrap > main {
	color: #151B4E;
	font-size: 13px;
	font-weight: 300;
} 
section#recetas .receta .wrap > main h4 {
	font-size: 14px;
	font-weight: 300;
} 





/* mobile */

@media screen and (max-width: 639px) {

	section#recetas-header h1 {
		font-size: 54px;
	}
	
	section#recetas > * {
		width: 100%;
	} 
	section#recetas .image {
		height: 75vh;
	} 
	section#recetas .receta .wrap {
		max-width: 100%;
		margin: 50px 0;
	} 

	section#recetas .receta:nth-child(4n+4) {
		background-color: rgba(236, 233, 228, 1);
	} 
	section#recetas .receta:nth-child(4n+4) .wrap > h2 {
		color: #151B4E;
	} 

}


@media screen and (min-width: 640px) and (max-width: 1199px) {
	
	section#recetas > * {
		width: 50%;
	} 

	section#recetas .receta:nth-child(4n+4) {
		background-color: rgba(236, 233, 228, 1);
	} 
	section#recetas .receta:nth-child(4n+4) .wrap > h2 {
		color: #151B4E;
	} 

}


@media screen and (min-width: 1200px) {
	
	section#recetas .receta:nth-child(4n+4),
	section#recetas .receta:nth-child(6n+6) {
		background-color: rgba(236, 233, 228, 1);
	} 
	section#recetas .receta:nth-child(4n+4) .wrap > h2,
	section#recetas .receta:nth-child(6n+6) .wrap > h2 {
		color: #151B4E;
	} 

}